.header {
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoContainer {
    max-width: 200px;
}