.driverItem {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    justify-content: space-between;
}
.driverName {
    flex: 2;
    text-align: left;
}

.vehicleReg {
    flex: 1;
    text-align: left;
}

.activityDuration {
    flex: 2;
    text-align: left;
}


.weeklyGrid {
    
    display: flex;
    justify-content: space-around;
    gap: 5px;
}


.dayBox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px;
}

.activeDay {
    background-color: #4CAF50; /* Green color */
    border: none;
}
.driverInfo {
   min-width: 20%;
}